@model EntityLayer.Concreate.Heading

@{
    ViewBag.Title = "WriterHeadingAdd";
    Layout = "~/Views/Shared/_WriterPanel.cshtml";
}

@using (Html.BeginForm("WriterHeadingAdd", "WriterPanel",  FormMethod.Post))
{
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Categori")
    @Html.DropDownList("CategoryID", (List<SelectListItem>)ViewBag.categories, htmlAttributes: new { @class = "form-control" })
    <br />
  
    <button class="btn btn-info">Kaydet</button>
}


