@using EntityLayer.Concreate
@model List<Category>
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<br /><br />
      <div class="container">
          <br />
          <a class="btn btn-info" href="~/Category/GetCategoryAdd">Yeni Kategori</a>
          <br />
          <table class="table table-hover">

              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th></th>
              </tr>

              @foreach (var x in Model)
              {
                  <tr>
                      <td>@x.CategoryID</td>
                      <td>@x.CategoryName</td>
                      <td>@x.CategoryDescription</td>
                      <td>@x.CategoryStatus</td>
                      <td><i href="#" class="btn btn-success">Güncelle</i></td>
                  </tr>
              }
          </table>
      </div>

